body{
    max-height: 100%;
    min-width: 700px;
}

img{
    z-index: 0;
    max-width: 100%;
}

#panel{
    background-color:bisque;
    min-height: 500px;
    border-radius:10px;
    z-index: -1;
}

nav{
    text-align: right;
    margin-left: 10%;
    display:table;
    font-weight: bold;
}

#table{
    display:table-row;
    border-collapse: separate;

}

#table a{
    display:table-cell;
    border-left: 1px solid black;
    padding-right:35px;
    width: 50px;
    text-align: left;
    padding-left: 4px;
    padding-top: 10px;
}

a {
    color:black;
    text-decoration: none;
    cursor: pointer;
}

#table a:hover{
    background-color: burlywood
}

#section{
    text-align: justify;
    max-width: 70%
}

section{
    margin: 0;
}

article{
    margin-top: 4%;
    margin-left: 2%;
    width: 50%;
    vertical-align: top;
}

aside{
    max-width: 33%;
    margin-top: 5%;
    margin-left: 5%;
}

aside img {
    width: 400px;
    max-width: 50%;
    display:block;
}

aside div{
    text-align: center;
    font-size: 6vw;
}

aside, article, back-img{
    display: inline-block;
}